<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-save" (click)="onSaveData()">Save Tout</button>
  </div>
  <div class="col-xs-6">
    <button type="button" class="btn btn-outline-dark" (click)="onFetchData()">Poutine</button>
    <button type="button" class="btn btn-outline-dark" (click)="onFetchData()">Pizza</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="i"></app-recipe-item>
  </div>
  <hr>
</div>

